/*
* @Author: NiceMing
* @Date:   2018-03-02 10:09:03
*/
.container {
  // position: relative;
	width: 100rem;
	margin: 6rem auto;
	color: #555;
}

.add-wrapper {
	height: 20rem;
	@include flex-center;
	@include wrap-background;

	p {
		padding: 1rem 3rem;
		@include add-btn;
	}

}

.list-wrapper {
	overflow: hidden;
	@include wrap-background;
	@include check-icon;

	ul {
		display: flex;
		height: 6rem;
		line-height: 6rem;
		@include nomal-btn;

		&:nth-of-type(1) {
			background-color: #f2f2f2;

			p {
				display: inline-block;
				width: 10rem;
				height: 3rem;
				margin-left: 11rem;
				line-height: 3rem;
				text-align: center;
				@include add-btn;
			}

		}

		&:not(:first-child) {
			border-bottom: 1px solid #eee;

			&:hover {
				background-color: $light-orange;
			}

		}

		.released {
			color: $light-green;
		}

		.ended {
			color: $deep-red;
		}

		li {
			&:nth-of-type(1) {
				text-align: center;
				flex: 1;
			}

			&:nth-of-type(2) {
				flex: 5;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			&:nth-of-type(3) {
				flex: 3;
			}

			&:nth-of-type(4) {
				flex: 2;
			}

			&:nth-of-type(5) {
				flex: 4;
			}

		}



	}

	div {
		display: flex;
		height: 7rem;
		line-height: 6rem;
		@include nomal-btn();

		p {
			&:nth-of-type(1) {
				text-align: center;
				flex: 1;
			}

			&:nth-of-type(2) {
				flex: 14;

				span {
					margin-left: 2rem;
				}

			}

		}

	}

}

.overlay {
	.prompt {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 35rem;
		transform: translate(-50%, -50%);
		@include wrap-background();

		.prompt-header {
			display: flex;
			height: 4rem;
			padding: 0 2rem;
			font-weight: 700;
			line-height: 4rem;
			background-color: #f2f2f2;
			justify-content: space-between;

			a {
				color: #555;

				&:hover {
					color: $orange;
				}

			}

		}

		.prompt-body {
			padding: 1.5rem;
			text-align: center;

			.share-link {
				a:hover {
					text-decoration-line: underline;
				}
			}

			.share-qrcode {
				display: flex;
				justify-content: center;
			}
		}
	}
}