@charset 'utf-8';
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
fieldset, img { border: 0; }
table { border-spacing: 0; border-collapse: collapse; }
ol, ul { list-style: none; }
address, caption, cite, code, dfn, em, strong, th, var { font-weight: normal; font-style: normal; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
a { text-decoration: none; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; }
html { height: 100%; font-size: 62.5%; }
body { height: 100%; font-size: 1.4rem; }
